/* Bellow 1440px */
@media (max-width: 90em) {
	html {
		font-size: 56.25%;
	}

	.container {
		max-width: 75rem;
		padding: 0;
	}

	.heading-primary {
		text-align: center;
	}

	.center {
		text-align: center;
	}

	/* Nav */
	.nav-links {
		position: absolute;
		flex-direction: column;
		top: 15rem;
		margin: 0 auto;
		width: 20rem;
		left: 0;
		right: 0;
		z-index: 1000;
	}

	.select {
		position: absolute;
		width: 7rem;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 57rem;
		z-index: 1000;
		background-color: #fff;
	}

	.main-nav-list {
		display: flex;
		flex-direction: column;
	}

	.main-nav-link {
		display: block;
		font-size: 2.5rem;
	}

	.nav-cta {
		font-size: 1.5rem;
	}

	header .hidden {
		display: none;
	}

	.main-nav-link.hidden {
		display: block;
	}

	.header {
		justify-content: end;
		gap: 5rem;
	}

	.btn-mobile-nav {
		display: block;
		z-index: 1000;
	}

	/* Hero */
	.section-hero {
		padding: 3.5rem 0 1rem 0;
	}

	.hero {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.hero-text-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hero-description {
		text-align: center;
		font-size: 1.7rem;
	}

	.hero-img-box {
		width: 50%;
	}

	.hero-img {
		padding: 1rem;
	}

	/* How */
	.steps {
		column-gap: 3rem;
		grid-template-columns: 36rem 36rem;
	}

	.steps .second {
		transform: translate(-215px, 100px);
	}

	.steps .third {
		transform: translate(156px, 96px);
	}

	.steps .sixth {
		transform: translate(-215px, 75px);
	}

	.step-vector-right {
		clip-path: inset(0px 0px 8px 188px);
	}

	.step-vector-left {
		clip-path: inset(0px 182px 0px 0px);
	}

	/* Testiomonials */
	.section-testimonials {
		max-width: 75rem;
		flex-direction: column;
		gap: 0;
		padding: 0;
		margin-bottom: 10rem;
	}

	.testimonials-title {
		height: 15rem;
	}

	.testimonial-btns {
		position: absolute;
	}

	.testimonial-btn--left {
		position: relative;
		top: 16rem;
		left: -4rem;
	}

	.testimonial-btn--right {
		position: relative;
		top: 16rem;
		left: 69rem;
	}

	.slider {
		max-width: 75rem;
	}

	.testimonial-person {
		flex-direction: column;
		margin-bottom: 7rem;
	}

	.testimonial-name {
		text-align: center;
		font-size: 1.4rem;
	}

	.testimonial-function {
		text-align: center;
		font-size: 1.3rem;
	}

	.testimonial-p {
		text-align: center;
		margin-top: 3rem;
		/* max-width: 50rem;s */
	}

	.testimonial-quotes {
		top: 30.5rem;
		left: 36rem;
	}

	.testimonial-text {
		font-size: 1.6rem;
		margin: 1rem 12rem;
	}

	.testimonial-no {
		font-size: 1.3rem;
	}

	/* FAQ */
	.faq-question {
		max-width: 48rem;
	}

	/* Contact */
	.flex-contact {
		flex-direction: column;
		max-width: 60rem;
	}

	.form {
		margin: 5rem;
	}

	/* Footer */
	.footer-up {
		grid-template-columns: 1fr;
		justify-items: center;
		max-width: 60rem;
	}

	.footer-up-links {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.f-up-link {
		display: inline-block;
		font-size: 1.3rem;
		padding: 0.1rem 1.5rem;
	}

	.logo {
		margin: 3rem 0;
	}

	.footer-down-links {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
}

/* Below 768 */
@media (max-width: 48em) {
	.container {
		max-width: 30rem;
	}

	.heading-primary {
		text-align: start;
		font-size: 3.3rem;
	}

	.heading-secondary {
		text-align: start;
		font-size: 3.3rem;
		margin-bottom: 0.5rem;
	}

	/* Nav */
	.nav-links {
		display: flex;
		left: 0;
		right: 0;
		top: 4rem;
	}

	.nav-cta {
		position: absolute;
		width: 20.6rem;
		margin: 0 auto;
		top: 46rem;
		left: 0;
		right: 0;
		z-index: 1000;
	}

	.main-nav-link {
		font-size: 1.5rem;
	}

	.main-nav-link.hidden {
		display: none;
	}

	.select {
		top: 41rem;
		left: 0;
	}

	.icon-mobile-nav {
		height: 3rem;
		width: 3rem;
	}

	/* Hero */
	.hero-description {
		text-align: start;
	}

	/* How */
	.steps {
		grid-template-columns: 30rem;
		row-gap: 2rem;
	}

	.step-vector-box {
		display: none;
	}

	.step-text-box {
		transform: translate(0, 0) !important;
	}

	/* Testimonials */
	.section-testimonials {
		max-width: 30rem;
	}

	.testimonials-title {
		position: absolute;
		text-align: start;
		margin: 0;
	}

	.slider {
		max-width: 30rem;
		margin-top: 10rem;
	}

	.testimonial-img {
		width: 20%;
		position: relative;
		top: 1rem;
	}

	.testimonial-quotes {
		top: 24rem;
		left: 13rem;
	}

	.testimonial-text {
		font-size: 2rem;
		margin: 1.5rem;
		height: 30rem;
	}

	.testimonial-no {
		font-size: 1.7rem;
		font-weight: 700;
	}

	.testimonials-btns {
		position: absolute;
		z-index: 1000;
	}

	.testimonial-btn--left {
		top: 47rem;
		left: -1rem;
	}

	.testimonial-btn--right {
		top: 47rem;
		left: 21rem;
	}

	/* FAQ */
	.card {
		margin: 0.5rem 0;
	}

	.faq-question {
		max-width: 23rem;
	}

	/* Contact */
	.form-i {
		width: 24rem;
	}

	.form-message {
		width: 24rem;
	}

	/* Footer */
	.footer-up-links {
		flex-direction: column;
	}

	.footer-up-links {
		justify-self: start;
	}

	.center {
		text-align: start;
	}
}
